<label
  class="ds-radio"
  [class.ds-radio--disabled]="disabled()"
>
  <input
    type="radio"
    [id]="id()"
    [name]="name()"
    [value]="value()"
    [checked]="checked()"
    [disabled]="disabled()"
    class="ds-radio-input"
    (change)="select()"
    (focus)="onFocus()"
    (blur)="onBlur()"
  />

  <span [class]="radioClasses()">
    @if (checked()) {
      <span class="ds-radio-dot"></span>
    }
  </span>

  @if (label() || description()) {
    <span class="ds-radio-content">
      @if (label()) {
        <span class="ds-radio-label">{{ label() }}</span>
      }
      @if (description()) {
        <span class="ds-radio-description">{{ description() }}</span>
      }
    </span>
  }
</label>
